<div class="container d-flex flex-wrap justify-content-center align-items-center p-2 bg-dark text-light">
  <form #loginForm="ngForm" class="w-75 p-2 ">
    <div class="mb-3 input-group justify-content-between">
      <label for="username" class="form-label me-2">User Name</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="loginData.username"
        name="username"
        #username="ngModel"
        minlength="5"
      />
    </div>
    <!-- username error msg -->
     <!-- <p [hidden]="username.valid || username.pristine" class="alert alert-danger w-50 p-2 m-2 mx-auto">
        {{username.errors!["required"]? "This filed is required ":""}}
        {{username.errors!["minlength"]? "Required length is "+
          username.errors!["minlength"]["requiredLength"] + " Actual length is " +
          username.errors!["minlength"]["actualLength"]
        :""}}
      </p> -->
    <!-- solution 2 another way for the error msg-->
    <div
      *ngIf="username.invalid && (username.dirty || username.touched)"
      class="alert alert-danger w-50 p-2 m-2 mx-auto"
    >
      <div *ngIf="username.errors?.['required']">username is required.</div>
      <div *ngIf="username.errors?.['minlength']">
        Name must be at least 5 characters long.
      </div>
    </div>
    <div class="input-group mb-3">
      <label for="password" class="form-label me-2">Password</label>
      <input
        type="password"
        class="form-control"
        required
        [(ngModel)]="loginData.password"
        name="password"
        #password="ngModel"
      />
    </div>
    <!-- password error  -->
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger w-50 p-2 m-2 mx-auto"
    >
      <div *ngIf="password.errors?.['required']">Password is required.</div>
    </div>
    <!-- save button -->
    <button
      type="button"
      (click)="loginHandler()"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      save
    </button>
  </form>
  <div class="card w-100 text-dark">
    <p class="card-title"> UserName: {{loginForm.value.username}}</p>
    <p class="card-title"> Password: {{loginForm.value.password}}</p>
  </div>
</div>
